h2 admin driver
form(action='/adminlogin', method='post')
    | email :
    input(type='email', name='email')
    br
    | password :
    input(type='text', name='password')
    br
    input(type='submit',value='submit')
    br
h2 login user
form(action='/loginUser', method='post')
    | email :
    input(type='text', name='email')
    br
    | password :
    input(type='text', name='password')
    br
    input(type='submit',value='submit')
    br
h2 regitser user
form(action='/addUser', method='post')
    | first_name :
    input(type='text', name='first_name')
    br
    | last_name :
    input(type='text', name='last_name')
    br
    | email :
    input(type='text', name='email')
    br
    | password :
    input(type='text', name='password')
    br
    | confirm password
    input(type='text', name='confirm_password')
    br
    input(type='submit',value='submit')
    br
h2 user forgot password
form(action='/userRecoveryMail', method='post')
    | email :
    input(type='text', name='email')
    br
    input(type='submit',value='send recovery mail')
    br
h2 regitser driver
form(action='/addDriver', method='post')
    | first_name :
    input(type='text', name='first_name')
    br
    | last_name :
    input(type='text', name='last_name')
    br
    | email :
    input(type='text', name='email')
    br
    | password :
    input(type='text', name='password')
    br
    | lattitude :
    input(type='latitude', name='latitude')
    br
    | longitude :
    input(type='longitude', name='longitude')
    br
    | device type
    input(type='text',name='device_type')
    | device token
    input(type='text',name='device_token')
    br
    input(type='submit',value='submit')
    br
h2 driver forgot password
form(action='/driverRecoveryMail', method='post')
    | email :
    input(type='text', name='email')
    br
    input(type='submit',value='send recovery mail')
    br
h3 user new password
form(action='/userNewPassword',method='post')
    | Token Key :
    input(type='text', name='accessToken')
    br
    | old password
    input(type='password',name='old_password')
    br
    | new_password  :
    input(type='password', name='new_password')
    br
    | confirm_password  :
    input(type='password', name='confirm_password')
    br
    input(type='submit',value='submit')
    br
h3 driver new password
form(action='/driverNewPassword',method='post')
    | Token Key :
    input(type='text', name='accessToken')
    br
    | old password
    input(type='password',name='old_password')
    br
    | new_password  :
    input(type='password', name='new_password')
    br
    | confirm_password  :
    input(type='password', name='confirm_password')
    br
    input(type='submit',value='submit')
    br
h2 search driver
form(action='/searchDriver', method='post')
    | accessKey :
    input(type='text', name='access_token')
    br
    | latitude
    input(type='latitude', name='latitude')
    br
    | longitude :
    input(type='longitude', name='longitude')
    br
    | radius :
    input(type='number',name='radius')
    br
    input(type='submit',value='order')
    br
h2 Nearest driver
form(action='/nearestDriver', method='post')
    | accessKey :
    input(type='text', name='access_token')
    br
    | latitude
    input(type='latitude', name='latitude')
    br
    | longitude :
    input(type='longitude', name='longitude')
    br
    input(type='submit',value='order')
    br
h2 update Driver
form(action='', method='post')
    |admin Token
    input(type='text' ,name='admintoken')
    br
    |driver Id
    input(type='text' ,name='driverId')
    br
    |checkStatus
    input(type='submit',name='verify',value='status ',onclick='this.form.action="/driverStatus"')
    br
    | delete driver
    input(type='submit',name='delete',value='deleteDriver ',onclick='this.form.action="/delete_drivers"')
h2 verify Driver
form(action='', method='post')
    |admin Token
    input(type='text' ,name='admintoken')
    br
    |driver Id
    input(type='text' ,name='driverId')
    br
    |verify
    input(type='submit',name='verify',value='verified ',onclick='this.form.action="/verifyDriver"')
    br
    | not verify
    input(type='submit',name='not_verify',value='notVerified ',onclick='this.form.action="/notVerifyDriver"')
h2 notification
form(action='', method='post')
    |customer_id
    input(type='text',name='userID')
    br
    |access_token
    input(type='text' ,name='access_token')
    br
    input(type='submit',name='accept',value='accept',onclick='this.form.action="/accept_order"')
    input(type='submit',name='decline',value='decline',onclick='this.form.action="/reject_order"')