//
   Created by Shashank on 03-11-2015.
doctype html
html
   head
      title= title
      link(rel='stylesheet', href='/stylesheets/style.css')
   body
       h2 user change password
       form(action='/userChangePassword',method='post')
           | Key :
           input(type='text', name='Key')
           br
           | new_password  :
           input(type='password', name='new_password')
           br
           | confirm_password  :
           input(type='password', name='confirm_password')
           br
           input(type='submit',value='submit')
           br
       h2  Driver  change Password
       form(action='/driverChangePassword',method='post')
        | Key :
        input(type='text', name='Key')
        br
        | new_password  :
        input(type='password', name='new_password')
        br
        | confirm_password  :
        input(type='password', name='confirm_password')
        br
        input(type='submit',value='submit')
        br